/*******************************************************************************/
/*                           TAILLE DES OBJETS                                 */
/*******************************************************************************/

.main-header              { max-height: 50px; letter-spacing: calc(0.075rem); }

.main-header .logo        { height: 50px;                                     }

.right-side .main-sidebar { content: 50px                                     }

.main-header .navbar      { height: 50px;                                     }

.nav-tabs-custom {
    width: 100%;
    height: 1150px;
    visibility: inherit;
    position: relative;
    outline: none;
}
/*******************************************************************************/
/*                          COULEURS PRINCIPALES                               */
/*******************************************************************************/

/*couleur de fond du corps de l'appli*/
.right-side                         {     background-color: rgb(72, 93, 121);                                                     }  
  
/* couleur de l'en-tête (=navbar) */
.skin-blue .main-header .navbar     {     background-color: rgb(229, 232, 236);                                                   }  
   
/* couleur de fond  du titre principal quand on fait plané la souris au dessus*/
.skin-blue .main-header .logo       {     color: rgb(46,70,102);  background-color: rgb(229, 232, 236);                           }

.skin-blue .main-header .logo:hover {     color: rgb(166, 83, 118);  background-color: rgb(229, 232, 236);                        }
  
/* Sidebar */
.skin-blue .main-sidebar            {     background-color: rgb(46, 70, 102);                                                     }          

.content-wrapper                    {     background-color: rgb(177, 186, 198);                                                   }

.nav-tabs-custom                    {     background-color: rgb(229, 232, 236);                                                   }

.tab-pane.active div.row div.col-sm-12 div.nav-tabs-custom div.tab-content             {  background-color: rgb(229, 232, 236);   }

.tab-pane.active div.row div.col-sm-12 div.nav-tabs-custom ul.nav.nav-tabs li.active a {  background-color: rgb(229, 232, 236);   }


/*******************************************************************************/
/*                                 OMBRE                                       */
/*******************************************************************************/

/* Rajout d'une ombre sous le navbar*/

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px rgba(161,209,229,0.5);
    -moz-box-shadow: 0 8px 6px -6px #999;
    /*box-shadow: 0 8px 6px -6px rgba(161,209,229,0.5);*/
}


/*******************************************************************************/
/*                                 TITRES                                      */
/*******************************************************************************/

/* titre principal*/
.skin-blue .main-header .logo {           
	color: rgb(46,70,102);
	text-align: center;
	font-family: "Fira Sans", sans-serif;               
	font-size: 22px;                        
	background-color: rgb(229, 232, 236);
  }

/*******************************************************************************/
/*                                 Tab Panels                                  */
/*******************************************************************************/


/* Taille de la police des tabPanels*/
.nav.nav-tabs { font-size: 18px;  }


    
.nav-tabs-custom > .nav-tabs > li:hover , .nav-tabs-custom > .nav-tabs > li:focus  {
  border-top: 4px solid rgb(46,70,102); 
  transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
  color: rgb(121, 72, 93);
}

.nav-tabs-custom > .nav-tabs > li:hover >a , .nav-tabs-custom > .nav-tabs > li:focus >a {
  color: rgb(46, 70, 102);
  transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
}

.nav.nav-tabs > li.active {
  font-size: 20px;
  font-weight: bold;
  border-top: 4px solid rgb(166, 83, 118);
  border-right-color: rgb(177, 186, 198);
}

.nav.nav-tabs > li.active > a {
  color: rgb(121, 72, 93);
}

/*******************************************************************************/
/*                    TOGGLE (a droite du titre principal)                     */
/*******************************************************************************/


.skin-blue .main-header .navbar .sidebar-toggle {
  float: left;
  color: rgb(46,70,102);
	background-color: rgb(229, 232, 236);
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  float: left;
  color: rgb(166, 83, 118);
	background-color: rgb(229, 232, 236);
}


/*******************************************************************************/
/*                               SIDEBARS                                      */
/*******************************************************************************/


.sidebar-menu>li>a {
  display: block;
  
}

.skin-blue .sidebar-menu > li:hover > a , .skin-blue .sidebar-menu > li:focus > a{
  transform: scaleX(1);
  transform-origin: 10px left 0px;
  border-left: 40px solid rgba(166, 83, 118,0.6); /*rgba(46,34,101,0.5)*/
  background: rgba(255, 255, 255, 0.15) none repeat scroll 0% 0%;
  transition-property: all;
  transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
  
}

.skin-blue .sidebar-menu > li.active > a {
  color: #fff;
  background: rgba(255, 255, 255, 0.15) none repeat scroll 0% 0%;
  border-left: 5px solid rgb(166, 83, 118);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: calc(0.075rem);
  
}


/*******************************************************************************/
/*                           SELECTIZE INPUT                                   */
/*******************************************************************************/

.selectize-input , .selectize-input:hover{
  border: 2px solid rgb(166, 83, 118); 
  border-radius: 45px;
  font-size:15px;
}


.selectize-input.items.has-options.full.has-items{
  border: 2px solid rgb(46,70,102);
  border-radius: 45px;
  font-size:15px;
  color: rgb(46,70,102);
}


.selectize-input.items.has-options.full.has-items:hover , .selectize-input.items.has-options.full.has-items.focus.input-active.dropdown-active {
  border: 2px solid rgb(192, 44, 70); 
  border-radius: 45px;
  font-size:15px;
  background: rgba(255, 255, 255, 0.15) none repeat scroll 0% 0%;
  transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
  
  color: rgb(192, 44, 70);
}


.selectize-control.single .selectize-input:hover:after , .selectize-control.single .selectize-input:focus:after{
      border-color: rgb(166, 83, 118) transparent transparent transparent;
      transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
}


/*******************************************************************************/
/*                                LEAFLET                                      */
/*******************************************************************************/


/* fond blanc de la carte leaflet */
.leaflet-container {
    background: #ffffff;
}


.info.legend.leaflet-control{
    position: absolute;
    bottom: 50px;
    webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgb(161,209,229,0.5) 0 0 4px 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999999;
    background: white;
    z-index: 105;
    cursor: text;
    color : rgb(46,70,102);
}


.leaflet .legend i{
                   width: 12px;
                   height: 12px;
                   margin-top: 4px;
                   }
                
.info.title.leaflet-control:hover{
  background-color: rgba(230,230,230,0.5);
  cursor:grab;
}                

.info.source.leaflet-control:hover{
  background-color: rgba(230,230,230,0.5);
  cursor:grab;
} 


/*******************************************************************************/
/*                                   SLIDER                                    */
/*******************************************************************************/

.irs {height: 60px;font-family: "Fira Sans", sans-serif;}
.irs-slider { width: 12px; top: 39px; height: 12px; border: 4px solid #2e4666;background: #ffff;}
.irs-single {border-radius: 20px; background: #2e4666;}
.irs-from::after, .irs-to::after, .irs-single::after {border-top-color: #2e4666;}
.irs-bar, .irs-bar-edge {height: 8px; background: #b1bac6;}
.irs-bar-edge { height: 8px; background: #b1bac6;border-radius: 20px;}
.iris-bar {background: #2e4666; height:8px;}
.irs-max {border-radius: 20px;}
.irs-min {border-radius: 20px;}
.irs-grid{bottom:-5px; }
.irs-line{ height: 8px; border-radius: 20px; background: #2e4666;}
.glyphicon.glyphicon-play{color : rgb(21,40,79); padding-top: 15px;}
.glyphicon.glyphicon-play:hover{color : #b1bac6;}
.glyphicon.glyphicon-pause{color : rgb(21,40,79); padding-top: 15px;}
.glyphicon.glyphicon-pause:hover{color : #b1bac6;}
.irs-grid-text {font-family: 'arial'; color: #62748c ; z-index: 1;}
.irs-grid-pol {display: none;}

#shiny-tab-autres_indics.tab-pane.active .row .col-sm-5 .form-group.shiny-input-container .irs.js-irs-4.irs-with-grid .irs-bar, #shiny-tab-autres_indics.tab-pane.active .row .col-sm-5 .form-group.shiny-input-container .irs.js-irs-4.irs-with-grid .irs-bar-edge{
  background-color: rgb(229, 232, 236);
}
/*******************************************************************************/
/*                                   BOX                                       */
/*******************************************************************************/

.box.box-primary {
    border-top-color: rgb(46,70,102); /*#3344c2;*/
    border-right: 0.5px solid #b1bac6;
    border-left: 0.5px solid #b1bac6;
    border-bottom: 0.5px solid #b1bac6;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 10px;
}

.box.box-primary:focus,.box.box-primary:hover  {
  margin-top: 0.5rem;
  border-top: 4px solid rgb(166, 83, 118);
  transform: translateY(-5px);
  box-shadow: rgba(98, 116, 140,0.2) 0px 8px 20px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.1s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
}


/*******************************************************************************/
/*                            CASES A COCHER                                   */
/*******************************************************************************/


/* RADIOBUTTONS CHOIX INDICATEURS */
.afr_plu_button       .shiny-options-group , 
.afr_en_trans_button  .shiny-options-group ,
.afr_les_trans_button .shiny-options-group ,
.afr_six_defis_button .shiny-options-group  {
  font-size: 16px;
  line-height: 1.5;
}

.afr_plu_button        input:checked ~ .state.p-primary label ,
.afr_en_trans_button   input:checked ~ .state.p-primary label ,
.afr_les_trans_button  input:checked ~ .state.p-primary label ,
.afr_six_defis_button  input:checked ~ .state.p-primary label  {
  color: rgb(166, 83, 118);
  transition: all 0.2s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;

}

.afr_plu_button        input:hover ~ .state.p-primary label ,
.afr_en_trans_button   input:hover ~ .state.p-primary label ,
.afr_les_trans_button  input:hover ~ .state.p-primary label ,
.afr_six_defis_button  input:hover ~ .state.p-primary label  {
  color: rgb(166, 83, 118);
}


.afr_plu_button input:checked ~ .state.p-primary .icon, 
.afr_en_trans_button input:checked ~ .state.p-primary .icon, 
.afr_les_trans_button input:checked ~ .state.p-primary .icon, 
.afr_six_defis_button input:checked ~ .state.p-primary .icon{ 
  color: rgb(255,255,255);
  background-color: rgb(166,83,118);
}

.afr_plu_button .p-icon .state .icon, 
.afr_en_trans_button .p-icon .state .icon,
.afr_les_trans_button .p-icon .state .icon, 
.afr_six_defis_button .p-icon .state .icon{
  color: rgb(166,83,118);
  border-color: rgb(166,83,118);
  border-width: 2px;
  stroke: rgb(255,255,255);
  border-radius: 4px;
}


/* RADIOBUTTONS CHOIX VISION PAYS / VISION DR */

.radiobutton1 input:checked ~ .state.p-primary .icon, .radiobutton2 input:checked ~ .state.p-primary .icon, 
.radiobutton3 input:checked ~ .state.p-primary .icon, .radiobutton4 input:checked ~ .state.p-primary .icon,
.radiobutton5 input:checked ~ .state.p-primary .icon, .radiobutton6 input:checked ~ .state.p-primary .icon, 
.radiobutton7 input:checked ~ .state.p-primary .icon, .radiobutton8 input:checked ~ .state.p-primary .icon{
  color: rgb(255, 255, 255);
  background-color: rgb(46,70,102); 
}

.radiobutton1 .p-icon .state .icon, .radiobutton2 .p-icon .state .icon,
.radiobutton3 .p-icon .state .icon, .radiobutton4 .p-icon .state .icon,
.radiobutton5 .p-icon .state .icon, .radiobutton6 .p-icon .state .icon,
.radiobutton7 .p-icon .state .icon, .radiobutton8 .p-icon .state .icon {
  color: rgb(46, 70, 102);
  border-color: rgb(46, 70, 102);
  border-width: 2px;
  stroke: rgb(255, 255, 255);
  border-radius: 4px;
}

.radiobutton1 .shiny-options-group, .radiobutton2 .shiny-options-group,
.radiobutton3 .shiny-options-group, .radiobutton4 .shiny-options-group,
.radiobutton5 .shiny-options-group, .radiobutton6 .shiny-options-group,
.radiobutton7 .shiny-options-group, .radiobutton8 .shiny-options-group{
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  line-height: 1.2;
}

/* POSITION CHECKBOX VISION MONDIALE */

.col-sm-3{ top: 39px; }

/*******************************************************************************/
/*                            PYRAMIDE DES AGES                                */
/*******************************************************************************/


.btn.btn-primary {
  background-color: rgb(46, 70, 102) ;
  border-color: rgb(46, 70, 102) ;
}

.btn.btn-primary:hover,.btn.btn-primary:focus,.btn.btn-primary:active{
  background-color: rgba(166, 83, 118,0.6) ;
  border-color: rgba(166, 83, 118,0.6) ;
  transition : all 0.4s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
}

/*******************************************************************************/
/*                               INFO BOX                                      */
/*******************************************************************************/

#InfoBoxNom.shiny-html-output.shiny-bound-output{padding-left:20px; padding-top:12px;}
#InfoBoxPop.shiny-html-output.shiny-bound-output{padding-left:20px; padding-top:12px;}


.widget-user-2 .widget-user-header {
    padding: 10px;
}
